name: shared
services:
  postgres:
    image: postgres:18.1
    container_name: postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: flutr
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD} 
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    profiles:
      - '' # Default profile
      - dev
    networks:
      flutr:
  redis:
    image: redis:8.4.0
    container_name: redis
    ports:
      - '6379:6379'
    command: redis-server --requirepass ${REDIS_PASSWORD}
    environment:
      - REDIS_REPLICATION_MODE=master
    profiles:
      - '' # Default profile
      - dev
    networks:
      flutr:
  nats:
    image: nats:latest
    container_name: nats_main
    restart: always
    ports:
      - "4222:4222"
      - "8222:8222"
    networks:
      flutr:
#    volumes:
#      - ./nats.conf:/etc/nats/nats.conf
#    command: ["-c", "/etc/nats/nats.conf"]
    command: ["--jetstream"]

  # nats-client:
  #   image: natsio/nats-box
  #   container_name: nats_client
  #   restart: always
  #   depends_on:
  #     - nats
  #   entrypoint: /bin/sh
  #   tty: true
  #   networks:
  #     flutr:

#  influxdb3:
#    image: influxdb:3-core
#    ports:
#      - 8086:8086
#    environment:
#      DOCKER_INFLUXDB_INIT_MODE: setup
#      DOCKER_INFLUXDB_INIT_USERNAME_FILE: /run/secrets/influxdb2-admin-username
#      DOCKER_INFLUXDB_INIT_PASSWORD_FILE: /run/secrets/influxdb2-admin-password
#      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN_FILE: /run/secrets/influxdb2-admin-token
#      DOCKER_INFLUXDB_INIT_ORG: docs
#      DOCKER_INFLUXDB_INIT_BUCKET: home
#    secrets:
#      - influxdb2-admin-username
#      - influxdb2-admin-password
#      - influxdb2-admin-token
#    volumes:
#      - type: volume
#        source: influxdb2-data
#        target: /var/lib/influxdb2
#      - type: volume
#        source: influxdb2-config
#        target: /etc/influxdb2
#secrets:
#  influxdb2-admin-username:
#    file: ~/dev/flutr/.env/influxdb2-admin-username
#  influxdb2-admin-password:
#    file: ~/dev/flutr/.env/influxdb2-admin-password
#  influxdb2-admin-token:
#    file: ~/dev/flutr/.env/influxdb2-admin-token

volumes:
  postgresql_data:
#  influxdb2-data:
#     influxdb2-config:

networks:
  flutr:
    name: flutr
    external: true
